@using Bookish.Models;
@model List<MemberModel>;

@{
    ViewData["Title"] = "Books";
}

<h1>@ViewData["Title"]</h1>

<div>
<table>
    <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Id</th>
    <th>Check-out Date</th>
    <th>Check-in Date</th>
</tr> 

@foreach(MemberModel member in Model){
<tr>
    <td>@member.Id</td>
    <td>@member.FirstName</td>
    <td>@member.LastName</td>
    <td>@member.Address</td>
    <td>@member.BookId</td>
</tr> 
}

</table>
</div>
