@using Bookish.Models;
@model List<MemberModel>;

@{
    ViewData["Title"] = "Members";
}

<h1>@ViewData["Title"]</h1>

<div>
<table>
    <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
</tr> 

@foreach(MemberModel member in Model){
<tr>
    <td>@member.Id</td>
    <td>@member.FirstName</td>
    <td>@member.LastName</td>
    <td>@member.Address</td>
</tr> 
}

</table>
</div>
