@using Bookish.Models;
@model List<BookModel>;

@{
    ViewData["Title"] = "Books";
}

<h1>@ViewData["Title"]</h1>

<div>
<table>
    <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Id</th>
    <th>Check-out Date</th>
    <th>Check-in Date</th>
</tr> 

@foreach(BookModel book in Model){
<tr>
    <td>@book.Title</td>
    <td>@book.Author</td>
    <td>@book.Id</td>
    <td>@book.CheckOut</td>
    <td>@book.CheckIn</td>
</tr> 
}

</table>
</div>